@model List<CallCenterGetMfTranResult>
<div class="space-above">
    <table class="table table-striped @(Model.Count > 0 ? "sortable" : "")">
        <thead>
            <tr>
                <th class="text-center can-hide-label" style="width:17%;">
                    Transaction Date
                </th>
                <th class="text-center can-hide-label" style="width:15%;">
                    AMC
                </th>
                <th class="text-center can-hide-label" style="width:15%;">
                    Activities
                </th>
                <th class="text-center can-hide-label" style="width:10%;">
                    Symbol
                </th>
                <th class="text-right can-hide-label" style="width:15%;">
                    Quantity
                </th>
                <th class="text-right can-hide-label">
                    Amount
                </th>
                <th class="text-center can-hide-label">
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
                <tr>
                    <td class="text-center can-hide-value" data-dateformat="D-MMMM-YYYY">
                        @(item.Tradedate.HasValue ? item.Tradedate.Value.ToString("d-MMM-yyyy") : string.Empty)
                    </td>
                    <td class="text-center can-hide-value">
                        @item.AmcCode
                    </td>
                    <td class="text-center can-hide-value">
                        @item.TrantypeCode
                    </td>
                    <td class="text-center can-hide-value">
                        @item.FundCode
                    </td>
                    <td class="text-right can-hide-value">
                        @(item.AmountUnit.HasValue ? item.AmountUnit.Value.ToString("#,0.00") : string.Empty)
                    </td>
                    <td class="text-right can-hide-value">
                        @(item.AmountBaht.HasValue ? item.AmountBaht.Value.ToString("#,0.00") : string.Empty)
                    </td>
                    <td class="text-center can-hide-value">
                        @item.TranStatusDesc
                    </td>
                </tr> 
                }
            }
            else
            {
                <tr class="row-no-data can-hide-value">
                    <td colspan="7" class="text-center">
                        No data.
                    </td>
                </tr>              
            }
        </tbody>
    </table>
</div>
