@model CallCenterGetAccountBankSettleResult
<div class="space-above">
    <div class="row nomargin sub-title space-above">
        <div class="col-md-12 nopadding">
            <i class="fa fa-cog"></i>&nbsp;Settlement Information
        </div>
    </div>
    <div class="row nomargin row-detail">
        <div class="col-md-2 nopadding can-hide-label">
            <strong>Payment Type</strong></div>
        <div class="col-md-3 nopadding can-hide-value">
            @Model.BuyPayTypeDesc &nbsp;</div>
        <div class="col-md-2 nopadding can-hide-label">
            <strong>Receive Type</strong></div>
        <div class="col-md-2 nopadding can-hide-value">
            @Model.SellPayTypeDesc &nbsp;</div>
        <div class="col-md-1 nopadding can-hide-label">
            <strong>Symbol</strong></div>
        <div class="col-md-2 nopadding can-hide-value">
            @Model.FundCode &nbsp;</div>
    </div>
    <table class="table table-bordered verify-bankaccount">
        <thead>
            <tr>
                <th rowspan="2" class="text-center can-hide-label">
                    Account Name
                </th>
                <th colspan="4" class="text-center can-hide-label">
                    Client Received
                </th>
                <th colspan="4" class="text-center can-hide-label">
                    Client Paid
                </th>
            </tr>
            <tr>
                <th class="text-center can-hide-label">
                    Bank
                </th>
                <th class="text-center can-hide-label">
                    Account No
                </th>
                <th class="text-center can-hide-label">
                    Account Type
                </th>
                <th class="text-center can-hide-label">
                    Branch
                </th>
                <th class="text-center can-hide-label">
                    Bank
                </th>
                <th class="text-center can-hide-label">
                    Account No
                </th>
                <th class="text-center can-hide-label">
                    Account Type
                </th>
                <th class="text-center can-hide-label">
                    Branch
                </th>
            </tr>
        </thead>
        <tbody>
            @if (!string.IsNullOrWhiteSpace(Model.AccountNo))
            {
                var item = Model;
                <tr class="row-detail">
                    <td class="can-hide-value">
                        @item.ATSBuyAccountName
                    </td>
                    <td class="text-center can-hide-value">
                        @item.BankBuySname
                    </td>
                    <td class="text-center can-hide-value">
                        @item.ATSBuyBankAccount
                    </td>
                    <td class="text-center can-hide-value">
                        @item.ATSBuyAccountTypeDesc
                    </td>
                    <td class="text-center can-hide-value">
                        @item.AtsBuyBranchName
                    </td>
                    <td class="text-center can-hide-value">
                        @item.BankSellSname
                    </td>
                    <td class="text-center can-hide-value">
                        @item.ATSSellBankAccount
                    </td>
                    <td class="text-center can-hide-value">
                        @item.ATSSellAccountTypeDesc
                    </td>
                    <td class="text-center can-hide-value">
                        @item.AtsSellBranchName
                    </td>
                </tr> 
            }
            else
            {
                <tr class="row-no-data">
                    <td colspan="9" class="text-center can-hide-value">
                        No data.
                    </td>
                </tr>              
            }
        </tbody>
    </table>
</div>
